body {
	background: url(../img/fond.jpg) repeat-x #0c75a0;		/* Вставляем в фон картинку */
	font-family: Tahoma, sans-serif;
}

.fond {		/* Поле самой html страныцы */
	margin: auto;		/* Виравнивание поля по центру */
	width: 1000px;		/* Ширина поля */
	height: 990px;		/* Висота поля */
	overflow: hidden;	/* Обрезает все что выходит за рамки поля */
	background-color: white;		/* Цвет фона */
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.69);		/* Тень по краям */
}

/* HEADER */

.logo {		/* Логотип: висота, ширина, межстрочний интервал */
	height: 164px;
	width: 290px;
	line-height: 170px;
	padding-top: 49px;		/* Внутрений отступ сверху */
	margin: 0 28px;		/* Наружний отступ по бокам */
	float: left;	/* Привязивает логотип к левому краю, текст обтекает по правому */
}

.contacts {
	color: #41a1b9;		/* Цвет текста контактов, привязка текста к правому краю и отступи сверху и справа */
	float: right;
	padding-top: 50px;
	padding-right: 32px;
}

.contacts span {		/* Толщина заголовка контактов и размер */
	font-size: 12px;
	font-weight: bold;
}

.contacts p {		/* Размер текста контактних данних и межстрочний интервал */
	font-size: 12px;
	line-height: 17px;
}

.fond .photo {
	margin-top: 210px;
	clear: both;
	height: 237px;
	background-image: url(../img/photo4.jpg);
	background-repeat: no-repeat;
	border-bottom: 1px solid #0b7dc8;		/* Линия в низу под картинкой над меню */
	border-top: 1px solid #0b7dc8;
}

.countries {		/* Контейнер для ссылок со странамы, привязиваем его к правому краю, зачищаем правий край */
	float: right;  
	clear: right;
	margin-right: 32px;
}

.countries li {
	float: left;
}

.countries a {		/* Параметри ссылки */
	float: left;		/* Вистраиваем в один ряд */
	font-size: 10px;		/* Размер текста */
	margin: 40px 0 0 15px;
	text-align: center;		/* Размещаем текст по центру, задаем ему цвет и толщину текста */
	color: #41a1b9;
	font-weight: bold;
}

.countries a:hover {		/* При навидении на ссылку с картинкой меняется цвет ссылки и убирается подчеркивание */
	color: #063d5e;
	text-decoration: none;
}

.menu {
	position: relative;		/* Относительное позиционирование */
	width: 100%;		/* Ширина меню на 100% относительно нашего поля */
	height: 32px;		/* Висота меню */
	margin: 0px;		/* Наружный отступ */
	background-color: #323232;		/* Цвет фона */
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.69);		/* Тень меню */
	z-index: 1;		/* Меню выводит на передний план, так как индекс цифри первый */	
}

.menu li {
	position: relative;	/* Относительное позиционирование */
	float: left;		/* Выстраивает меню по горизонтале */
}

.menu li:first-child {
	margin-left: 30px;
}

.menu a {
	display: block;		/* Делаем строчный елемент блочным */
	color: white;		/* Цвет текста */
	padding: 8px 30px;		/* Внутрение отступы */
	text-decoration: none;		/* Отменяет подчеркивание ссылок */
	font-size: 14px;		/* Размер текста */
	text-align: center;		/* Позиционирует текст по центру */
}

.dawn {		/* Спец символ треугольник в низ */
	font-size: 8px;		/* Размер треугольника */
}

.dawn:before {		/* Отступ от текста к треугольнику, что бы текст под меню, вмещался в одну строку */
	content: "";
	padding: 0 4px;
}

.menu li .sub-menu li {		/* Что бы под меню не чуствовало отступ родителя для первого li */
	margin: 0;
}

.sub-menu {		/* Подменю */
	position: absolute;		/* Абсолютное позиционирование */
	display: none;		/* Скрывает наш блок */
	background: #323232;		/* Цвет фона подменю */
	width: inherit;
	border: 1px solid #000;		/* Рамка, стиль и цвет */
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.69);		/* Тень вокруг блока */
	margin: 0;
}

.menu li:hover .sub-menu {
	display: block;		/* При  навидении на основное меню, висвечивается под меню блоком */
}

.menu li:hover {
	background: #2c2c2c ;	/* Цвет фона изменяется, при навидении на меню */
}

/* CONTENT */

.sidebar {
	float: left;		/* Приязивает сайдбар к левому краю */
	margin-top: 0;
	width: 210px;		/* Ширина блока сайдбара */
	height: 100%;		/* Висота блока на всю висоту контента */
	padding-top: 5px;		/* Внутрений отступ */
	text-align: center;		/* Горизонтальное позиционирование */
	background: #edeef0;		/* Цвет фона */
	border-right: 1px solid #c7cacf;		/* Рамка, стиль и цвет */
	z-index: 2;		/* Смещает позицию колонки на второй план, относительно цифри индекса */
	clear: left;
}

.rubric {
	font-weight: bold;		/* Толщина шрифта */
	font-size: 18px;		/* Размер шрифта */
}

.info p {
	font-size: 14px;		/* Размер шрифта */
	line-height: 22px;		/* Межстрочный интервал */		
}

.new {
	margin-top: 0;
	float: right;		/* Привязывает наш контент к правому краю */
	width: 210px;		/* Ширина блока */
	height: 100%;		/* Висота блока */
	padding-top: 5px;		/* Внутрений отступ */	
	text-align: center;		/* Горизонтальное позиционирование */
	background: #edeef0;		/* Цвет фона */
	border-left: 1px solid #c7cacf;		/* Рамка, стиль и цвет */
	z-index: 3;		/* Положение под елементами относительно цифри индекса */
	clear: right;
}

/* FOOTER */

.footer {
	text-align: center;		/* Расположение текста в футере по горизонтале */
	font-size: 12px;		/* Размер текста */
	color: white;		/* Цвет текста */
	margin: 10px;		/* Отступ наружный */
}