$palleteColor1: #fff;
$palleteColor2: #ff4d4f;
$palleteColor3: rgba(255, 255, 255, .8);
$palleteColor4: #333;
$palleteColor5: #ff8523;
$palleteColor6: rgba(0, 0, 0, .6);
$palleteColor7: #cbcbcb;
$palleteColor8: #656565;
$palleteColor9: rgba(255, 77, 79, .8);
$palleteColor10: rgba(3, 3, 3, .2);
$palleteColor11: #eee;
$palleteColor12: #999;