& {
    background: url('../images/bg-feature-desc.png') 910px 18px no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 1170px;
        margin: 0 auto;

        h2 {
            margin: 94px 0 52px -1px;
            text-align: left;
            letter-spacing: 2px;
            color: #282828;
            font-family: "GothamProBlack", sans-serif;
            font-size: 36px;
        }

        > p {
            width: 760px;
            padding-right: 82px;
            font-size: 12px;
            letter-spacing: .7px;
            line-height: 24px;
            color: #282828;
            text-align: left;
            font-family: Open_SansRegular, sans-serif;
        }

        > a {
            width: 341px;
            margin: 28px 0 99px 0;
            padding: 16px 0 17px 1px;
            color: #fff;
            font-family: Open_SansRegular, sans-serif;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.7px;
            border-radius: 27px;
            border: 2px solid transparent;
            box-sizing: border-box;
            background-color: #159f85;
            text-decoration: none;

            &:hover {
                transition: .3s;
                box-shadow: none;
                color: #159f85;
                border: 2px solid #159f85;
                box-sizing: border-box;
                background: transparent;
            }
        }
    }

}
