body {
	background-color: #f6f6f6; 
	margin: 0 auto;
}

.wrapper {              /* Поле со всем контентом */
	margin: auto;   /* Наружные отступы */
	padding: 0 46px;     /* Внутрение отступы */
	width: 968px;         /* Ширына страницы с контентом */
	background-color: white;     /* Цвет страницы */
	font-family: 'Open Sans Light', Arial, sans-serif;
	box-shadow: 0 0 3px 0 rgba(200, 200, 200, 5);		/* Оттенок по краям */
}

/* Header */

.header img {
	padding-top: 50px;  /* Отступ с верху "Логотип" */
}

.menu {
	overflow: hidden;		/* Отображает только область внутри элемента */
	margin-top: 40px;		/* Внешний отступ меню сверху */
    height: 40px;		/* Висота меню */
    width: 968px;		/* Ширина меню */
	background-color: #555;		/* Цвет меню */
}

.menu li {
	float: left;		/* Выравнивает элемент по левому краю, и выстраивает текст по горизонтале */
	text-align: center;		/* Выравнивает текст по горизонтале, (центр) */
	width: 140px;		/* Ширина кнопок меню */
}

.menu a {
	display: block;		/* Отображает елемент как блочный */
	color: white;		/* Цвет текста */
	text-decoration: none;		/* Отменяет стиль ссылки */
	line-height: 40px;		/* Висота текста, межстрочный интервал */
	font-size: 15px;		/* Размер шрифта */
	text-shadow: 1px 1px 1px rgba (0, 0, 0, 0.5);		/* Тень по краям меню */
}

.menu a:hover {		/* При на видении на ссылку изменяется фоновый цвет */
	background-color: #333;
	border-right: 1px solid #888;
	border-left: 1px solid #888;
}

/* SIDEBAR */

.container {
	overflow: hidden;		/* Отображает только область внутри элемента */
	margin-top: 40px;		/* Внешный отступ сверху */
}

.container .sidebar {
	float: left;		/* Выравнивает элемент по левому краю */
	width: 240px;		/* Ширина меню */
}

.sub-menu li {		/* Рамки по краям и цвет их, что бы не двоились, верхнюю прописывае отдельно */
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.sub-menu li:first-child {
	border-top: 1px solid #ddd;		/* Верхняя бардюр, сплошная линия и цвет */
}

.sub-menu a {
	line-height: 40px;		/* межстрочный интервал */
	font-size: 14px;		/* Размер шрифта */
	text-decoration: none;		/* Отменяет стиль ссылки */
	padding-left: 25px;		/* Внутрений отступ слева */
	color: rgb(101, 99, 99);		/* Цвет текста */
	transition: 0.4s all;		/* Анимацыя,передвигает текст */
}

.sub-menu li:hover a {
	color: black;		/* При навидении на ссылку изменяется цвет текста */
	padding-left: 35px;		/* На какое растояние сдвигает transition */ 
}

.sub-menu li:hover {		/* При навидении на поле изменяется цвет фона */
	background-color: #f0f0f0;
}

/* CONTENT */

.content {
	float: right;
	width: 680px;
}

.content p {
	padding: 40px 0 0 25px;		/* Внутрение отступи текста */
	line-height: 20px;		/* Межстрочный интервал текста */
	font-size: 14px;		/* Размер текста */
	color: rgb(44, 44, 44);		/* Цвет текста */
}

/* FOOTER */

.footer {
	overflow: hidden;		/* Отображает только область внутри элемента */
	padding-top: 60px;		/* Внутрений отступ сверху */
	padding-bottom: 55px;		/* Внутрений отступ снизу */
	clear: both;		/* Зачищает граници по краям */
}

.footer-menu {
	height: 40px;		/* Висота футера */
	background-color: #ddd;		/* Цвет фона футера */
}

.footer-menu li {
	float: left;		/* Привязка текста к левому краю, вистраивает текст по горизонтали */
	width: 120px;		/* Ширина кнопок меню футера */
	line-height: 40px;		/* Межстрочный интервал текста */
	font-size: 14px;		/* Размер текста */
}

.footer-menu li:last-child {
	float: right;		/* Привязывает последний елемент списка к правому краю */
	width: 200px;		/* Ширина блока текста */
	text-align: right;		/* Расположение текста по горизонтали */
	padding-right: 25px;		/* Внутрений отступ */
}

.footer-menu a {
	display: block;		/* Отображает елемент как блочный */
	color: black;		/* Цвет текста */
	text-decoration: none;		/* Отменяет стилизацыю ссылки */
	padding-left: 24px;		/* Внутрений отступ */
}

.footer-menu a:hover {
	text-decoration: underline;		/* При навидение на ссылку, отображает подчеркивание текста */
}
