@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
    url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cormorantinfant-bolditalic';
    src: url('../fonts/cormorantinfant-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/cormorantinfant-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_black_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fa-viber';
    src:url('../fonts/fa-viber.eot?-3dwksg');
    src:url('../fonts/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
    url('../fonts/fa-viber.ttf?-3dwksg') format('truetype'),
    url('../fonts/fa-viber.woff?-3dwksg') format('woff'),
    url('../fonts/fa-viber.svg?-3dwksg#fa-viber') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1170px;
}

.header {
    width: 100%;
}

.header-top {
    width: 100%;
    height: 670px;
    background: url("../img/bg_header.jpg") 0 0 no-repeat;
    background-size: cover;
}

.header-top {
    width: 100%;
    height: 670px;
    background: url("../img/bg_header.jpg") 0 0 no-repeat;
    background-size: cover;
}

.header-top .col-md-5,
.header-top .col-md-7 {
    padding: 0;
}

.header-top img {
    margin: 0 0 0 -138px;
    z-index: 0;
}

.header-top-right .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 34px 0 0 27px;
}

.header-top-right .menu li {
    /*padding: 0 14px 0 0;*/
}

.header-top-right .menu li a {
    color: #fff;
    font-size: 16px;
    font-family: 'roboto_thin', sans-serif;
    /*text-decoration: none;*/
}

.header-top-right .menu li a:hover {
    /*color: #fff;*/
    text-decoration: none;
}

.header-top-right h1 {
    margin: 52px 0 36px 17px;
    /*text-align: center;*/
    color: #fff;
    font-family: "cormorantinfant-bolditalic", sans-serif;
    font-size: 56px;
    font-weight: bold;
    font-style: italic;
}

.header-top-right > p {
    margin: 0 0 0 15px;
    line-height: 43px;
    color: #fff;
    font-family: "robotolight", sans-serif;
    font-size: 35px;
    text-align: center;
}

.header-top-right .reserve {
    position: relative;
    top: 42px;
    left: 71px;
    width: 350px;
    height: 295px;
    margin: 0 auto 42px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
    background-color: #631faa;
}

.header-top-right .reserve > p {
    margin: 0 -3px 12px 0;
    padding: 7px 0 0 0;
    color: #fff;
    font-family: "robotolight", sans-serif;
    font-size: 22px;
}

.header-top-right .reserve .reserve-contacts {
    margin: 0 10px 0 10px;
    background-color: #fff;
}

.header-top-right .reserve .reserve-contacts li:first-child {
    padding: 11px 0 10px 0;
}

.header-top-right .reserve .reserve-contacts .reserve-tel {
    color: #631fa9;
    font-family: "robotolight", sans-serif;
    font-size: 22px;
    margin: 0 0 0 -12px;
}

.header-top-right .reserve .reserve-contacts .fa-phone {
    color: #631fa9;
    font-size: 17px;
    margin: 0 9px 0 -4px;
}

.header-top-right .reserve .reserve-contacts p {
    margin: 9px 0 0 37px;
    padding: 0 4px 0 0;
    text-indent: 8px;
    color: #631fa9;
    font-family: "robotolight", sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 255px;
    text-align: center;
}

.header-top-right .reserve .reserve-contacts .fa-whatsapp {
    margin: 0 0 0 -10px;
    padding: 6px 8px 6px 8px;
    font-size: 28px;
    vertical-align: bottom;
    background: #2ca815;
    color: #fff;
}

.header-top-right .reserve .reserve-contacts .fa-whatsapp:hover {
    color: rgba(59, 255, 24, 0.55);
}

.header-top-right .reserve .reserve-contacts .fa-viber {
    width: 38px;
    height: 38px;
    margin: 0 0 0 3px;
    background: url("../img/viber-icon.png") 0 0 no-repeat;
    font-size: 0;
}

.header-top-right .reserve .reserve-contacts .fa-viber:before {
    font-family: 'fa-viber';
    content: "\e666";
    font-size: 12px;
    position: relative;
    top: 12px;
    left: 0;
    background: #7d3daf;
    color: #fff;
    padding: 1px;
}

.header-top-right .reserve .reserve-contacts .fa-viber:hover:before  {
    color: rgb(212, 157, 210);
}

.header-top-right .reserve .reserve-contacts button {
    margin: 13px 0 21px 0;
    padding: 7px 21px 8px 21px;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #1bb100;
    color: #fff;
    font-family: "robotobold", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.header-top-right .reserve .reserve-contacts button:hover {
    background-color: #7d3daf;
    color: #fff;
    transition: .5s;
}

.header-bottom {
    width: 100%;
    height: 140px;
    background-color: rgb(18, 20, 24);
}

.header-bottom .col-md-9{
    z-index: 1;
}

.header-bottom h2 {
    margin: 21px 0 0 3px;
    color: #fff;
    font-family: "cormorantinfant-bolditalic", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}

.header-bottom p {
    margin: -1px 0 0 7px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 28px;
}

.header-bottom img {
    margin: 0 0 0 -212px;
}

/*end header*/

/*start section why*/
.why {

}

.why h2 {
    color: #631fa9;
    font-family: 'roboto_thin', sans-serif;
    font-size: 47px;
    margin: 25px 0 0 4px;
    text-transform: uppercase;
}

.why .line {
    display: inline-block;
    width: 328px;
    height: 1px;
    background-color: #631fa9;
    vertical-align: middle;
    position: relative;
    left: -25px;
    top: -5px;
}

.why .line:last-child {
    left: 25px;
}

.why-list {
    display: flex;
    margin: 40px 0 0 0;
}

.why-list li {
    text-align: center;
}

.why-list li:first-child {
    position: relative;
    left: -29px;
}

.why-list li:first-child h4 {
    margin: 17px 0 13px 4px;
}

.why-list li:first-child p {
    margin: -2px 0 0 16px;
    line-height: 24px;
    padding: 0 15px 0 0;
}

.why-list li:nth-child(2) {
    position: relative;
    left: -7px;
    top: -2px;
}

.why-list li:nth-child(2) h4 {
    margin: 20px 0 10px -4px;
}

.why-list li:nth-child(2) p {
    margin: -1px 0 0 8px;
    line-height: 24px;
}

.why-list li:nth-child(3) {
    position: relative;
    top: 2px;
    left: 8px;
}

.why-list li:nth-child(3) p {
    margin: -4px 0 0 18px;
    line-height: 24px;
}

.why-list li:nth-child(3) h4 {
    margin: 15px 0 12px 0;
}

.why-list li:last-child {
    position: relative;
    left: 18px;
    top: 8px;
}

.why-list li:last-child h4 {
    margin: 9px 0 11px -6px;
}

.why-list li:last-child p {
    margin: 10px -10px 14px 3px;
    line-height: 24px;
}

.why-list .icon-quality {
    display: block;
    height: 52px;
    width: 50px;
    margin: 0 auto;
    background: url("../img/icons-why.png") 4px 0 no-repeat;
}

.why-list .icon-safety {
    display: block;
    height: 52px;
    width: 62px;
    margin: 0 auto;
    background: url("../img/icons-why.png") -45px 0 no-repeat;
}

.why-list .icon-beauty {
    display: block;
    height: 52px;
    width: 42px;
    margin: 0 auto;
    background: url("../img/icons-why.png") -105px 0 no-repeat;
}

.why-list .icon-comfort {
    display: block;
    height: 52px;
    width: 60px;
    margin: 0 auto;
    background: url("../img/icons-why.png") -148px 0 no-repeat;
}

.why-list h4 {
    margin: 17px 0 12px 0;
    color: #631fa9;
    font-family: "robotobold", sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.why-list p {
    padding: 0 10px 0 0;
    color: #333;
    font-family: 'roboto_thin', sans-serif;
    font-size: 16px;
}

.why-num {
    display: flex;
    justify-content: space-around;
    margin: 45px 0 57px 0;
}

.why-num li {
    position: relative;
    text-align: center;
}

.why-num li p {
    letter-spacing: 1px;
    line-height: 24px;
}

.why-num li:first-child {
    left: -63px;
}

.why-num li:first-child p {
    margin: 8px 0 0 0;
    padding: 0 3px 0 0;
    width: 320px;
}

.why-num li:nth-child(2) {
    left: -21px;
}

.why-num li:nth-child(2) p {
    width: 230px;
    margin: 8px 0 0 0;
}

.why-num li:last-child {
    left: 43px;
}

.why-num li:last-child p {
    margin: 8px 0 0 0;
    width: 200px;
    text-indent: 3px;
}

.why-num span {
    color: #631fa9;
    font-family: 'roboto_black', sans-serif;
    font-size: 48px;
}

/*.why-bottom*/
.why .why-bottom {
    height: 170px;
    width: 100%;
    background-color: #631fa9;
}

.why .why-bottom img{
    position: relative;
    left: -236px;
}

.why .why-bottom .col-md-8 {
    padding: 0;
}

.why .why-bottom h4 {
    margin: 21px 0 0 -11px;
    color: #fff;
    font-family: "cormorantinfant-bolditalic", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}

.why .why-bottom p {
    margin: 12px 0 0 -11px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 21px;
    line-height: 24px;
}

/*start section three-plus*/

.three-plus {
    background: url("../img/bg-three-plus.png") 0 0 no-repeat;
    background-size: cover;
    height: 100%;
}

.three-plus .col-md-6 {
    padding: 0;
}

.three-plus h2 {
    margin: 53px 0 0 -12px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 47px;
    text-align: center;
    text-transform: uppercase;
}

.three-plus .line {
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    left: -25px;
    top: -5px;
}

.three-plus .line:last-child {
    left: 25px;
}

.three-plus h4 {
    margin: 51px 0 44px -2px;
    /*text-align: center;*/
    color: #fff;
    font-family: "roboto_black_italic", sans-serif;
    font-size: 24px;
    font-style: italic;
}

.three-plus p {
    margin: 0 0 0 0;
    line-height: 24px;
    color: #cf9eec;
    font-family: 'roboto_thin', sans-serif;
    font-size: 16px;
}

.three-plus .plus-left {
    position: relative;
    top: 54px;
    left: -7px;
}

.three-plus .plus-right {
    position: relative;
    top: 4px;
    left: 13px;
}

.three-plus .plus-right li:nth-child(2) h4 {
    margin: 66px 0 44px -4px;
}

.three-plus .plus-right li:last-child h4 {
    margin: 53px 0 44px -4px;
}

.three-plus-icons {
    display: flex;
    justify-content: space-around;
    margin: 76px 0 40px 0;
}

.three-plus-icons p {
    position: relative;
    width: 200px;
    color: #fff;
    font-family: "robotolight", sans-serif;
    font-size: 21px;
    text-align: center;
}

.three-plus-icons li p::before {
    display: block;
    margin: 0 auto;
    content: "";
}

.three-plus-icons li:first-child p {
    left: 13px;
}

.three-plus-icons li:first-child p::before {
    width: 46px;
    height: 55px;
    margin: 0 0 19px 77px;
    background: url("../img/three-plus-icons.png") 0 0 no-repeat;
}

.three-plus-icons li:nth-child(2) p {
    left: -1px;
}

.three-plus-icons li:nth-child(2) p::before {
    width: 63px;
    height: 55px;
    margin: -5px 0 24px 66px;
    background: url("../img/three-plus-icons.png") -49px 0 no-repeat;
}

.three-plus-icons li:nth-child(3) p {
    left: -6px;
}

.three-plus-icons li:nth-child(3) p::before {
    width: 46px;
    height: 55px;
    margin: 6px 0 13px 76px;
    background: url("../img/three-plus-icons.png") -113px 0 no-repeat;
}

.three-plus-icons li:nth-child(4) p {
    left: -12px;
}

.three-plus-icons li:nth-child(4) p::before {
    width: 28px;
    height: 55px;
    margin: 6px 0 13px 86px;
    background: url("../img/three-plus-icons.png") -160px 0 no-repeat
}

.three-plus-icons li:last-child p {
    left: -21px;
}

.three-plus-icons li:last-child p::before {
    width: 62px;
    height: 55px;
    margin: 5px 0 14px 68px;
    background: url("../img/three-plus-icons.png") -190px 0 no-repeat
}

.three-plus-bottom {
    position: relative;
    height: 170px;
    width: 100%;
    background-color: #563777;
}

.three-plus-bottom img {
    margin: 0 0 0 -89px;
}

.three-plus-bottom h4 {
    margin: 33px 0 0 -11px;
    color: #fff;
    font-family: "cormorantinfant-bolditalic", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}

.three-plus-bottom p {
    margin: 6px 0 0 -12px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 36px;
    line-height: 24px;
}
/*end section three-plus*/

/*start section cost*/
.cost {
    position: relative;
    background: #fff;
    background: url("../img/bg-cost.png") 0 0 no-repeat;
    background-size: cover;
    z-index: 0;
}

.cost h2 {
    margin: 32px 0 0 4px;
    color: #631fa9;
    font-family: 'roboto_thin', sans-serif;
    font-size: 47px;
    text-transform: uppercase;
}

.cost .line {
    display: inline-block;
    width: 370px;
    height: 1px;
    background-color: #631fa9;
    vertical-align: middle;
    position: relative;
    left: -26px;
    top: -5px;
}

.cost .line:last-child {
    left: 26px;
}

.cost .colcost {
    position: relative;
    width: 270px;
    box-sizing: border-box;
    border: 1px solid #631fa9;
    margin: 42px 0 57px 0;
    text-align: center;
    background: #fff;
}

.cost .col1 {
    left: -22px;
}

.cost .col2 {
    left: -14px;
}

.cost .col3 {
    left: -6px;
}

.cost .col4 {
    left: 1px;
}

.colcost img {
    position: absolute;
    left: -1px;
    z-index: 0;
}

.colcost h5 {
    position: relative;
    margin: 243px 0 0 2px;
    color: #fff;
    font-size: 24px;
    font-family: "roboto_regular", sans-serif;
    text-transform: uppercase;
}

.colcost span {
    position: relative;
    display: block;
    margin: 19px 0 25px 0;
    color: #fff;
    font-size: 30px;
    font-family: 'roboto_black', sans-serif;
}

.colcost button {
    position: relative;
    padding: 9px 29px 9px 29px;
    font-size: 22px;
    color: #fff;
    margin: 0 0 76px 2px;
    border-radius: 3px;
    border: none;
    background-clip: padding-box;
    background-color: #1bb100;
    font-family: "roboto_regular", sans-serif;
}

.colcost p {
    padding: 0 8px 0 8px;
    line-height: 23px;
    margin: -2px 0 37px 0;
    letter-spacing: .7px;
    color: #333;
    font-family: 'roboto_thin', sans-serif;
    font-size: 16px;
}
/*end section cost*/

/*start section gallery*/
.gallery {
    background: url("../img/bg-gallery.jpg") 0 0 no-repeat;
    background-size: cover;
    height: 420px;
}

.gallery .container {
    padding: 0;
}

.gallery .line {
    display: inline-block;
    width: 400px;
    height: 1px;
    background-color: #fff;
    vertical-align: middle;
    position: relative;
    left: -36px;
    top: -5px;
}

.gallery .line:last-child {
    left: 39px;
}

.gallery h2 {
    margin: 44px 0 0 -13px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 47px;
    text-transform: uppercase;
    text-align: center;
}

/*start carousel*/
.gallery .carousel {
    margin: 18px 0 0 0;
    padding: 0 47px 67px 40px;
}

.gallery .span12 {
    overflow: hidden;
}

.gallery .carousel-inner {
    overflow: inherit;
}

/* Reposition the controls slightly */
/*.carousel-control {
    left: -12px;
}*/

/*.carousel-control.right {
    right: -12px;
}*/

/* Changes the position of the indicators */
.gallery .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px;
}

.gallery .carousel-indicators li:first-child {
    margin: 0 9px 0 -16px;
}

.gallery .carousel-indicators li:last-child {
    margin: 0 -5px 0 9px;
}

.gallery .thumbnail {
    width: 270px;
    border: none;
    padding: 0;
}

.gallery .span3.img1 .thumbnail {
    margin: 0 79px 0 -49px;
}

.gallery .span3.img2 .thumbnail {
    margin: 0 30px 0 -49px;
}

.gallery .span3.img3 .thumbnail {
    margin: 0 30px 0 0;
}

.gallery .span3.img4 .thumbnail {
    margin: 0;
}

.gallery .row-fluid {
    display: flex;
    flex-direction: row;
}

.gallery .well {
    background: transparent;
    border: none;
}

.gallery .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 8px;
    box-sizing: border-box;
    /*background-clip: padding-box;*/
    background: transparent;
}

.gallery .carousel-indicators .active {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    /*background-clip: padding-box;*/
    background-color: #1bb100;
    border: none;
}
/*end carousel*/
/*end section gallery*/

/*start section comments*/

.comments {
    background-color: #eaeaea;
}

.comments h2 {
    margin: 33px 0 0 -10px;
    color: #631fa9;
    font-family: 'roboto_thin', sans-serif;
    font-size: 47px;
    text-transform: uppercase;
    text-align: center;
}

.comments .line {
    display: inline-block;
    width: 470px;
    height: 1px;
    background-color: #631fa9;
    vertical-align: middle;
    position: relative;
    left: -20px;
    top: -5px;
}

.comments .line:last-child {
    left: 20px;
}

.comments .comment-img {
    margin: -24px 0 0 -18px;
}

.comments .col-md-7 {
    padding: 0;
}

/* start carousel2 */
/* Fade Slider CSS */
.comments .carousel .item {
    /*-webkit-transition: 0.7s ease-in-out opacity;*/
    /*-moz-transition: 0.7s ease-in-out opacity;*/
    /*-o-transition: 0.7s ease-in-out opacity;*/
    /*transition: 0.7s ease-in-out opacity;*/
    /*left: 0 !important;*/
    /*width: 630px;*/
    margin: 0 0 0 7px;
}

.comments .carousel .item img {
    height: 221px;
}

.comments .carousel .next.left,
.comments .carousel .prev.right {
    opacity: 1;
    z-index: 1;
}
.comments .carousel .active.left,
.comments .carousel .active.right {
    opacity: 0;
    z-index: 2;
}
.comments .carousel .carousel-control {
    z-index: 1000;
    outline:none;
    opacity: 1;
}

.comments .carousel .carousel-control:focus,
.comments .carousel .carousel-control:hover {
    opacity: .7;
}

.comments .carousel-inner {
    width: 630px;
    height: 221px;
    margin: 88px 0 0 0;
}

.comments .carousel-caption {
    display: inline-block;
    width: 240px;
    margin: -10px 0 0 0;
    top: -22px;
    right: 118px;
    left: auto;
    text-align: left;
}

.comments .carousel-caption h6 {
    margin: 10px 0 11px -1px;
    color: #6d15b3;
    font-family: "robotolight", sans-serif;
    font-size: 24px;
    text-shadow: none;
}

.comments .carousel-caption p {
    color: #333;
    font-family: "roboto_italic", sans-serif;
    font-size: 14px;
    font-style: italic;
    text-shadow: none;
    line-height: 17px;
    font-weight: 600;
}

.comments .carousel-control.left,
.comments .carousel-control.right {
    width: 48px;
    height: 48px;
    background-image: none;
}

.comments .carousel-control.right {
    top: 53px;
    right: 6px;
}

.comments .carousel-control.left {
    left: auto;
    top: 119px;
    right: 6px;
}

.comments .glyphicon-menu-right,
.comments .glyphicon-menu-left {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    background-color: #631fa9;
}

.comments .glyphicon-menu-right {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
}
/* end carousel2 */

.comments .comments-bottom {
    background-color: #333;
    text-align: center;
}

.comments .comments-bottom h2 {
    margin: 22px 0 9px -11px;
    color: #fff;
    font-family: "cormorantinfant-bolditalic", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
}

.comments .comments-bottom ul {
    margin: 0 0 22px 0;
}

.comments .comments-bottom ul p {
    margin: 0 0 0 -14px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 18px;
}

.comments .comments-bottom ul p:first-child {
    margin: 0 0 11px -13px;
    color: #fff;
    font-family: 'roboto_thin', sans-serif;
    font-size: 24px;
}

/*end section comments*/