<!DOCTYPE HTML>
<html>
<head>
    <title>URLAUBSGLÜCK</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="css/app.css" />
    <script src="js/flexibility.js"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
</head>
<body>
    <section class="header">
        <div class="header-top">
            <div>
                <a href="#">Log in</a>
                <a href="#">Sign up</a>
            </div>
            <h2>URLAUBSGLÜCK</h2>
        </div>
        <h1>Share your holiday dreams</h1>
        <p>And find the perfect partner to fullfill it</p>
        <a href="#">Find your holiday partner</a>
    </section>

    <section class="steps">
        <h2>How Urlaubsglück works?</h2>
        <div class="container">
            <div class="box">
                <div class="carousel">
                    <div class="step step1">
                        <img src="images/steps/step1-big.jpg" alt="#">
                        <div>
                            <a href="#">step 1</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <img src="images/steps/step2-big.jpg" alt="">
                        <div>
                            <a href="#">step 2</a>
                            <h2>Morbi velit risus</h2>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </div>
                    <div class="step step3">
                        <img src="images/steps/step3-big.jpg" alt="">
                        <div>
                            <a href="#">step 3</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="carousel">
                    <div class="step step2">
                        <img src="images/steps/step2-big.jpg" alt="">
                        <div>
                            <a href="#">step 2</a>
                            <h2>Morbi velit risus</h2>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </div>
                    <div class="step step3">
                        <img src="images/steps/step3-big.jpg" alt="">
                        <div>
                            <a href="#">step 3</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                    <div class="step step1">
                        <img src="images/steps/step1-big.jpg" alt="#">
                        <div>
                            <a href="#">step 1</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="carousel">
                    <div class="step step3">
                        <img src="images/steps/step3-big.jpg" alt="">
                        <div>
                            <a href="#">step 3</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                    <div class="step step1">
                        <img src="images/steps/step1-big.jpg" alt="#">
                        <div>
                            <a href="#">step 1</a>
                            <h2>Sed leo enim, condimentum</h2>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </div>
                    <div class="step step2">
                        <img src="images/steps/step2-big.jpg" alt="">
                        <div>
                            <a href="#">step 2</a>
                            <h2>Morbi velit risus</h2>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <h2>Meet a partner for your best holiday</h2>
        <div class="container">
            <div class="block partner1">
                <div class="ava">
                    <div class="icon"></div>
                </div>
                <h3>Bradley Hunter</h3>
                <p>Based in Chicago. I love playing tennis and loud music.</p>
            </div>

            <div class="block partner2">
                <div class="ava">
                    <div class="icon"></div>
                </div>
                <h3>Lucas Marsha</h3>
                <p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
            </div>

            <div class="block partner3">
                <div class="ava">
                    <div class="icon"></div>
                </div>
                <h3>Heather Walker</h3>
                <p>I'm a happy person that loves cats and climbing on mountains.</p>
            </div>

            <div class="block partner4">
                <div class="ava">
                    <div class="icon"></div>
                </div>
                <h3>Bradley Hunter</h3>
                <p>Based in Chicago. I love playing tennis and loud music.</p>
            </div>
        </div>
        <a href="#">See other partners</a>
    </section>

    <section class="ideas">
        <h2>Discover holiday activity ideas</h2>
        <script type="text/template" id="wrapper">
            <div class="grid">
                <div class="grid-sizer"></div>
                <% for (var i = 0; i < 7; i++) { %>
                <div class="grid-item">
                    <img src="<%= hits[i].webformatURL %>" alt="#">
                    <div class="mask">
                        <h2><%= hits[i].tags.split(', ')[1] %></h2>
                    </div>
                </div>
                <% } %>
            </div>
        </script>
    </section>

    <section class="search">
        <h2>Discover holiday activity ideas</h2>
        <p>Hi! What are your holiday interests?</p>
        <form>
            <input type="search" class="search-fields" placeholder="Enter your interests"/>
            <a href="#" class="search-btn">Search partners</a>
        </form>
    </section>

    <section class="footer">
        <h2>URLAUBSGLÜCK</h2>
        <div>
            <h3>Company</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <h3>Partners</h3>
        <div class="logo">
            <h3>Designed by</h3>
            <a href="#">
                <img src="images/footer/logo.png" alt="ARETO development">
            </a>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>