@import '../mobile';

.container {

    .price-box {

        iframe {
            width: 450px;
            height: 240px;
            margin: 54px 15px 0 15px;
            border-radius: 10px;
        }
    }
}
