@import '../mobile';

.container {

    h2 {
        margin: 22px 0 0 55px;
    }

    .ben-item {

        h5 {
            margin: 30px 0 0 110px;
            padding-top: 15px;
        }

        p {
            margin: 25px 60px 0 55px;
            line-height: 24px;
        }
    }
}