@import '../../styles/general';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: $main-color;
    &__title {
        color: #fff;
        font-size: $font-size-xl;
    }
}