$font-main: ubunturegular, sans-serif;
$medium: ubuntumedium, sans-serif;
$light: ubuntulight, sans-serif;

$wrapper-width: 1160px;
$wrapper-margin: 0 auto;

$header-height: 205px;
$header-margin: 0 auto;
$header-top-height: 110px;

$logo-margin: 38px 0 0 5px;

$socseti-padding: 47px 0 0 0;
$icons-list-width: 190px;
$icon-item-margin: 0 0 0 20px;
$icon-item-last-margin: 2px;;
$icon-size: 17px;

$header-menu-width: 100%;
$header-menu-margin: 0 auto;
$menu-background: #2a2d32;
$menu-link-color: #fff;
$menu-link-hover-color: #f4b60d;
$menu-font-size: 14px;
$menu-height: 55px;
$menu-line-height: 54px;
$menu-hover: #cda624;
$menu-border-right: 1px solid #000;
$menu-item-color: #fff;
$menu-item-padding: 0 40px;
$home-backcolor: #248cec;

$header-input-left: 240px;
$header-input-top: 20px;
$search-field-color: #35383c;
$input-text-color: #fff;
$input-text-height: 38px;
$input-text-border: 1px solid #000;
$input-text-width: 238px;
$placeholder-color: #ffffff;
$placeholder-padding: 0 0 0 15px;
$letter-spacing: 3px;
$input-text-margin: 8px;

$slider-margin: 40px 0 70px 0;


$section-param-margin: 0 0 90px 0;
$section-width: 350px;
$number-width: 80px;
$content-before-size: 32px;
$content-before-top: 15px;
$content-width: 240px;
$number-size: 90px;
$number-color: #efeff0;
$content-padding: 50px 0 0 25px;
$section-title-size: 20px;
$section-title-padding: 5px 0 0 0;
$arial: Arial, sans-serif;
$section-text-size: 13px;
$section-text-padding: 10px 0 0 0;
$section-text-line-height: 15px;
$section-link-margin: 22px 0 0 0;
$section-link-after-width: 10px;
$section-link-after-height: 10px;
$section-link-after-top: 189px;
$section-link-after-left: 180px;
$section-link-color: #000000;
$section-text-color: #8a8a8a;
$param-arrow-color: #248CEC;
$param-arrow-hover-color: #000000;

$services-title-margin: 0 0 50px 0;
$services-title-padding: 50px 0 0 0;
$services-items-margin: 0 10px;
$services-link-width: 257px;
$services-hover-width: 260px;
$services-hover-height: 260px;
$services-title-color: #fff;
$services-backcolor: #2a2d32;
$services-span-color: #fff;
$services-span-margin: 30px 0 70px 0;


$news-title-margin: 0 0 45px 0;
$news-section-margin: 0 0 30px 0;
$news-pic-width: 170px;
$news-pic-padding: 0 0 0 20px;
$news-data-top: 15px;
$news-title-size: 24px;
$news-month-color: #fff;
$news-day-color: #000;
$section-info-width: 360px;
$section-author-margin: 10px 0 0 0;
$color-a-color: #248CEC;
$sections-link-color: #000;
$sect-text: #c2c2c2;
$section-padding:  65px 0 80px 0;
$section-text-margin:  30px 0 0 0;
$sect-back: #f7f7f7;
$banners-title-margin: 0 0 45px 0;
$banner-link-color: #fff;
$banner-link-before-width: 23px;
$banner-link-before-left: 15px;
$banner-back-color: #fff;
$banner-color: #000;
$banner-link-before-left: 15px;
$banner-link-before-width: 23px;
$banner-link-padding: 0 0 0 50px;
$border-right-act: 1px solid #f6c53d;
$border-inactive: 1px solid #e8e8e8;

$brends-margin: 90px 0 100px 0;
$brends-item-margin: 0 18px;

$bottom-width: 250px;
$bottom-margin: 0 15px;
$bottom-padding: 65px 0 85px 0;
$bottom-title-margin: 0 0 45px 0;
$bottom-title-color: #fff;
$bottom-linkcolor: #545659;
$bottom-border: 1px solid #393c40;

$footer-backcolor: #35383c;
$footer-padding: 25px 0;
$footer-icon-margin: 0 25px;
$footer-icon-padding: 0 0 0 10px;
$banner-text-pad: 25px 0 40px 40px;
$active: #f4b60d;
$border-right: 1px solid #e8e8e8;
$address-before-width: 14px;
$address-before-height: 18px;
$address-before-left: -15px;
$address-before-top: -4px;
$phone-before-width: 12px;
$phone-before-height: 18px;
$phone-before-left: -15px;
$phone-before-top: -3px;
$mail-before-width: 18px;
$mail-before-height: 14px;
$mail-before-left: -19px;
$mail-before-top: -1px;