@font-face {
    font-family: 'bauhauscM';
    src: url('../font/bauhausc-medium-webfont.woff2') format('woff2'),
    url('../font/bauhausc-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*---start container---*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: bauhauscM, Arial, sans-serif;
}

/*---start header---*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top right, #00e500 35%, #22bb00 50%, #138900 65%);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    position: relative;
}

.logo {
    width: 200px;
    height: 150px;
    line-height: 150px;
    border: 1px solid #fff;
    text-align: center;
    margin-left: 20px;
}

.logo h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
}

.menu li {
    display: inline-flex;
    padding: 10px 20px;
}

.menu li:first-child {
    margin-left: 30px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    color: #a414ff;
    font-weight: bold;
}

.menu ul a:hover,
.menu ul a:active {
    color: #fff;
}

.menu .pull-menu {
    display: none;
}
/*---end header---*/

/*---start content---*/
/*---star forma content---*/
.forma {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -230px;
    width: 460px;
    height: 250px;
    border: 4px solid #eee;
    border-radius: 65px;
    border-top-left-radius: 0;
    box-sizing: border-box;
}

.corner {
    display: block;
    width: 25px;
    height: 25px;
    margin: 20px 0 0 25px;
    border-top: 5px solid #ff0000;
    border-left: 5px solid #ff0000;
    border-top-left-radius: 15px;
}

.forma h1 {
    margin: -12px 0 12px 45px;
    font-size: 18px;
    font-weight: bold;
    font-family: bauhauscM, Arial, sans-serif;
}

.forma > a {
    margin: 0 0 0 45px;
    color: #3d974c;
    font-size: 14px;
    font-family: bauhauscM, Arial, sans-serif;
}

.forma .hr {
    display: block;
    width: 420px;
    margin: 8px 20px 10px;
    border-bottom: 2px dashed #eee;
}

.forma .avtoriz {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.forma .avtoriz .fa {
    display: none;
}

.avtoriz input {
    width: 236px;
    height: 25px;
    margin: 0 20px 15px 10px;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.avtoriz label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: bauhauscM, Arial, sans-serif;
}

.avtoriz label:nth-child(3) {
    font-size: 12px;
    margin-right: 150px;
}

.avtoriz input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin: 0 8px 0 0;
    padding: 0;
}

.avtoriz p {
    color: #9a9a9a;
    margin: 7px 101px 0 0;
    font-size: 12px;
    font-family: bauhauscM, Arial, sans-serif;
}

.avtoriz p a {
    color: #3d974c;
}

.avtoriz span {
    color: #ff0600;
}

button {
    display: block;
    position: absolute;
    width: 130px;
    height: 28px;
    left: 50%;
    bottom: -12px;
    margin-left: -65px;
    font-weight: bold;
    color: #fff;
    background-color: #337a2d;
    border-radius: 50px;
    border-bottom-right-radius: 0;
}

button:hover {
    color: #000;
}
/*---end forma content---*/
/*---end content---*/
/*---end container---*/

/*-/-/-/-/- screen min 481px and max 767px -/-/-/-/-*/

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        display: block;
        height: 50px;
        line-height: 50px;
    }

    .logo h1 {
        font-size: 20px;
        vertical-align: middle;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu ul {
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
        height: auto;
        background-color: rgba(239, 239, 239, 0.7);
    }

    .menu li:first-child {
        margin-left: 0;
    }

    .menu li {
        padding: 7px 40px;
    }

    .menu ul a {
        font-size: 20px;
    }

    .menu .pull-menu {
        position: relative;
        width: 100%;
        display: flex;
        padding: 15px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(239, 239, 239, 0.7);
    }

    .pull-menu a {
        font-size: 22px;
        margin-left: 25px;
    }

    .pull-menu img {
        margin-right: 25px;
    }
    /*---end content---*/
    /*---end container---*/
}

/*-/-/-/-/- screen min 320px and max 480px -/-/-/-/-*/

@media (min-width: 320px) and (max-width: 480px) {

    /*---star header---*/

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        display: none;
    }

    .menu ul {
        display: none;
        position: absolute;
        width: 200px;
        height: auto;
        top: 95px;
        left: 50%;
        margin-left: -100px;
        border-radius: 5px;
        background: linear-gradient(to top right, rgba(173, 173, 175, 1) 30%, rgba(202, 204, 200, 0.76) 50%, rgba(236, 234, 232, 0.76) 75%);
    }

    .menu li:first-child {
        margin-left: 0;
    }

    .menu ul a {
        font-size: 16px;
    }

    .menu .pull-menu {
        display: block;
        position: relative;
        margin-top: 40px;
        cursor: pointer;
    }

    .pull-menu a {
        display: block;
        font-size: 18px;
    }

    /*---end header---*/

    /*---star content---*/

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*---star forma content---*/
    .forma {
        width: 310px;
        height: 235px;
        left: 50%;
        margin-left: -155px;
        padding: 0;
        z-index: -1;
    }

    .corner {
        margin: 10px 0 0 15px;
    }

    .forma h1,
    .forma > a {
        margin-left: 35px;
        margin-bottom: 5px;
    }

    .forma .hr {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .forma .avtoriz .fa {
        position: absolute;
        display: block;
        margin: 14px 0 0 15px;
        color: #9a9a9a;
    }

    .avtoriz label {
        display: none;
    }

    .avtoriz input {
        display: block;
        margin: 10px 30px 5px 10px;
        padding-left: 22px;
    }

    .avtoriz label:nth-child(3) {
        margin: 10px auto 5px;
        display: inherit;
    }

    .avtoriz p {
        margin: 0 auto;
    }
    /*---end forma content---*/
    /*---end content---*/
}
