@import '../../theme/palleteColor';

$color1: $palleteColor1;
$color2: $palleteColor2;
$color4: $palleteColor4;
$color7: $palleteColor7;
$color9: $palleteColor9;
$color11: $palleteColor11;
$color12: $palleteColor12;
