@import '../desktop';

.container {
    display: flex;
    flex-direction: column;
    width: 1024px;

    .owl-carousel {

        .item-box {
            //width: 590px;
        }

        .arrow-left,
        .arrow-right {
            width: 120px;
        }
    }

}