@import '../mobile';

& {
    padding-top: px(194);

    h2 {
        padding-right: px(4);
        letter-spacing: px(.2);
    }

    .grid {
        max-width: px(1496);
        margin-top: px(66);

        .grid-sizer {
            width: px(472);
        }

        .grid-item {
            max-width: px(472);
            margin-bottom: px(40);
        }
    }
}