& {
    .container {
        background-color: #ccff8b;
        height: px(100, $m);
        text-align: center;

        h1 {
            color: #ffae0c;
            font-size: px(80, $m);
        }
    }

}