@font-face {
    font-family: "helvetica";
    src: url('fonts/helveticaneue-thin-webfont.ttf');
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}